.footer__column-link {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  opacity: 1;
  transition: opacity 1s linear;
}
.footer__column-link:hover{
  opacity: .4;
}
